@charset "utf-8";

/*
Base style
*/
body {
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
    background-color: #6e6868;
}
label, input, textarea, select, button {
    cursor: pointer;
}
button {
    border: 0;
}

/*
grid
*/
.grid {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-item {
    list-style: none;
}
.grid-col-2 > .grid-item {
    width: 50%;
}
.grid-col-3 > .grid-item {
    width: 33.3%;
    background-color: #8b4513;
}
.grid-col-4 > .grid-item {
    width: 25%;
}
@media screen and (max-width: 768px){
    .grid {
        display: block;
    }
    .grid-col-2 > .grid-item,
    .grid-col-3 > .grid-item,
    .grid-col-4 > .grid-item {
        width: 100%;
        margin: 20px 0;
    }

}

/*
section
*/
.section {
    padding: 30px 15px;
}
.section.section-secounday {
    background: #3cb371;
}
.section-headline {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px;
}
.section-button {
    margin: 40px 0 0;
    text-align: center;
}
@media screen and (max-width: 768px){
    .section {
        padding: 20px 10px;
    }
    .section-headline {
        font-size: 30px;
        margin: 0 0 20px;
    }
    .section-button {
        margin: 20px 0 0;
    }
}